body {
  background-color: #383C3F;
}

header {
 font-family:"calibri", times, serif;
  color:#FFFFFF; 
}

footer {
 font-family:"calibri", times, serif;
  color:#FFFFFF; 
}


body {
 font-family:"calibri", times, serif;
  color:#FFFFFF; 
}

body {
 font-family:"calibri", times, serif;
  color:#FFFFFF; 
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: #100F0F;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 25%;
    text-align: center;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: list-item;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: white;
    border-bottom: 2px solid gold;
transition: all 0.2s ease-out;
width: 100% ;
}

  
}

.conteneur{
  margin: 0px 20px;
  height: 1500px;
}




/*imganim*/

img.zoomEffect {
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
    opacity: 0.7;
}
img.zoomEffect:hover {
border-bottom-style: solid ;
border-width: 5px;
border-color: #a0a0a0;
    opacity: 1;
}

/*------------- mise en page -------------*/

p {
  text-align: justify;
}
p span.gauche {
  float: left;
}
p span.droite {
  float: right;
}
